<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/faviconStrasHelp2.svg">


    <title>{% block title %} Stras'Help - Prestations de services{% endblock %}</title>
    
    {% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/assets/css/style_HomePopUpMessage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css">
    {% endblock %}
    
</head>

<body>
    {% block header %}{% include 'component/_navbar.html.twig' %}{% endblock %}
    
    {% if message is defined %}
        <div class="uk-alert uk-alert-{{type}} uk-container-small uk-align-center uk-text-center" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{message}}</p>
        </div>
    {% endif %}        
    {% block content %}{% endblock %}
    {% block footer %} {% include 'component/_footer.html.twig' %} {% endblock %}

    {% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit-icons.min.js"></script>
    <script src="/assets/main.js"></script>
    {% endblock %}
</body>
</html>


