.paragraphe {
    text-align: center;
    margin: 10px 30px 0 20px;
    border-radius: 8px 8px 0 0;
    background-color: #e94174;
}

h1 {
    color: white;
}

.uk-table td {
    width: 150px;
    max-width: 150px;
    overflow: hidden;
}

p {
    text-align: center;
}
