<footer class="uk-padding uk-padding-remove-horizontal uk-text-center@s uk-margin-top uk-flex-center" uk-grid>
  <div class="uk-container uk-container-expand ">
    <div class="uk-child-width-1-5@s uk-grid-small uk-grid-match" uk-grid>
      <div>
        <a href="https://www.legalplace.fr/contrats/conditions-generales-de-vente/" target="_blank">CGV</a>
      </div>
      <div>
        <a href="https://www.legalplace.fr/guides/mentions-legales/" target="_blank">Mentions&nbsp;légales</a>
      </div>
    </div>
  </div>
</footer>