{% include "component/_popUpMessage.html.twig" %}
{% include "component/_popUpLogin.html.twig" %}
 <div class="container">  
    <nav>
        <div>
            <a href="/"><img class="animate__animated animate__rubberBand  logo" src="/assets/images/Logo-strasHelp.png"></a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            {% if (user.isLogin == true) and (user.login == 'yavuz') %} 
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            {% elseif user.isLogin == true %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/mesoffres">Mes&nbsp;offres</a></li>
            {% else %}
                <li><a onclick="displayModalLogin()">Login</a></li>    
            {% endif %}  
            <li><a href="#form-inscription">Inscription</a></li>
            <li><a onclick="displayModalContact()">Contact</a></li>       
        </ul> 
        <div class="menu-icon">
            <img src="/assets/images/menu.png" alt="menu burguer">
        </div>
    </nav>
</div>

