<div id="contentlogin">
      <div class="modal-content">
        <span class="close-button" onclick="hiddenModalLogin()">&times;</span>
        <img src="/assets/images/logo-stras-hel-final_720.png">
             <div class="text">Login</div>
             <form action="login" method="POST">
               <div class="field">
                 <span class="fa fa-user"></span>
                 <input placeholder="login" type="text" name="login">
               </div>
               <div class="field">
                 <span class="fa fa-lock"></span>
                 <input placeholder="Password" type="password" name="password">
               </div>
               
               <button type="submit" name="submit">Connexion</button>

               <div class="or">Or</div>
                <div class="icon-button">    
                  <span class="facebook"><i class="fa fa-facebook"></i> Facebook</span>
                  <span><i class="fa fa-google"></i> Google</span>
                </div>
             </form>
      </div>
</div>
